@keyframes flip {
    0% {
      transform: rotateX(0deg);
      opacity: 1;
    }
    45% {
      transform: rotateX(90deg);
      opacity: 0;
    }
    55% {
      transform: rotateX(90deg);
      opacity: 0;
    }
    100% {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }
  
  .flipping-text.flip {
    animation: flip 2.9s ease-in-out forwards;
    transform-origin: top;
  }
  