@keyframes glow {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

.animate-glow {
  animation: glow 2s infinite ease-in-out;
}

.snowfall-layer {
  z-index: 40; /* Ensure this is above other elements */
  pointer-events: none; /* Prevents interactions from blocking it */
}